header {
    background: #2E2140;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    .logo {
        display: flex;
        height: 10vh;
    }

    .developed {
        display: flex;
        align-items: center;
        gap: 10px;
        width: fit-content;

        a {
            .git-icon {
                width: 40px;
                height: 40px;
                fill: #FFF;
            }
        }
    }
}

@media (max-width: 480px) {
    header {
        h2 {
            font-size: 1.6em;
        }

        .developed {
            display: none;
        }
    }
}

@media (max-width: 768px) and (min-width: 481px) {
    header {
        h2 {
            font-size: 1.6em;
        }

        .developed {
            display: none;
        }
    }
}